.tortuga-canvasContainer
{
	position: relative;
	overflow: hidden;
	background-color: #fff;
}

.tortuga-canvasContainer-canvas
{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
}

.tortuga-canvasContainer-bg
{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-repeat: no-repeat;
	background-position: left bottom;
	opacity: 0.5;
}





.tortuga-lessonsListContainer-item
{
	cursor: pointer;
}
.tortuga-lessonsListContainer-item:hover
{
	background-color: rgba(0, 0, 0, .05);		
}
.tortuga-lessonsListContainer-item-number
{
	display: none;
}
.tortuga-lessonsListContainer-item-text
{
	display: inline;
	color:#00c;
	border-bottom: #00c dashed 1px;
}

.tortuga-lessonsListContainer-item-textSelected.tortuga-lessonsListContainer-item-text
{
	color:inherit;
	border-bottom: none;
}

