        <h2>Работа из консоли</h2>
        <p id="help-hotkey-text">
        </p>
        <h2>Основные команды</h2>
        <ul>
          <li><b>var x = createTortoise()</b>&nbsp;&mdash; создать черепаху в&nbsp;начале координат.</li>
          <li><b>var t = createTortoise(100, 50, "green")</b>&nbsp;&mdash; создать черепаху в&nbsp;нужном месте определённого цвета</li>
          <li><b>t.go(50)</b>&nbsp;&mdash; пройти вперёд на&nbsp;нужное расстояние</li>
          <li><b>t.rotate(45)</b>&nbsp;&mdash; повернуться против часовой стрелки на&nbsp;нужное количество градусов</li>
          <li><b>t.tailDown()</b>&nbsp;&mdash; опустить хвост, чтобы рисовать линию.</li>
          <li><b>t.tailUp()</b>&nbsp;&mdash; поднять хвост, чтобы просто перемещаться.</li>
          <li><b>t.setColor("red")</b>&nbsp;&mdash; поменять цвет черепахе.</li>
        </ul>
        <p class="help-hint">Назад</p>