---
title: "Переправы"
---
        <h2>Что это за страница</h2>
        <iframe width="362" height="210" src="http:////www.youtube.com/embed/dfhYUnvnqnA" frameborder="0" allowfullscreen></iframe>
        <h2>Работа из консоли</h2>
        <p id="help-hotkey-text">
        </p>
        <h2>Основные команды</h2>
        <ul>
          <li><b>help()</b>&nbsp;&mdash; отобразить список доступных команд</li>
          <li><b>lessons()</b>&nbsp;&mdash; отобразить список уроков</li>
          <li><b>lesson(0)</b>&nbsp;&mdash; выбрать нужный урок</li>
          <li><b>problems()</b>&nbsp;&mdash; отобразить список задач</li>
          <li><b>start(4)</b>&nbsp;&mdash; выбрать нужную задачу</li>
          <li><b>show()</b>&nbsp;&mdash; прочитать условие задачи</li>
          <li><b>move("волк, лодочник")</b>&nbsp;&mdash; перевезти героев с берега на берег.</li>
        </ul>
        <p class="help-hint">Назад</p>